{% extends 'base.html' %}

{% block title %}All directors{% endblock %}

{% block body %}
    <div class="row mt-3">

        <div class="col-sm-12 p-0">
            <div class="card">
                <div class="card-body">
                    <h2 class="text-center card-title">{{ director.first_name }} {{ director.middle_name }} {{ director.last_name }}</h2>
                    <hr>
                    <span style="float: right; color: darkgrey; font-size: 17px">{{ director.timestamp }}</span>
                    <br>

                    <p class="mt-3"><strong>Contact {{ director.first_name }}:</strong><br>
                        {{ director.number }}, {{ director.website }}
                    </p>

                    {% if director.dob %}
                        <strong>Date of Birth & Gender: </strong>
                        <p>{{ director.dob }} - {{ director.gender|capfirst }}</p>
                    {% else %}
                        <strong>Date of Birth & Gender: </strong><p>Not Updated.</p>
                    {% endif %}

                </div>
            </div>
        </div>

    </div>
{% endblock %}