{% extends 'base.html' %}

{% block title %}MoviesOppo{% endblock %}

{% block body %}
    <div class="row text-center mt-3">
        <div class="col-sm-4 p-0">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Browse genres</h5>
                    <a href="{% url 'genres' %}" class="btn-sm btn btn-primary">Genre Lists</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 p-0">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Add new Director</h5>
                    <a href="{% url 'new-director' %}" class="btn-sm btn btn-primary">New director</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 p-0">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Add new genre</h5>
                    <a href="{% url 'new-genre' %}" class="btn-sm btn btn-primary">New genre</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 p-0">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Add new movie</h5>
                    <a href="{% url 'new-movie' %}" class="btn-sm btn btn-primary">Add movie</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4 p-0">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Browse Movies</h5>
                    <a href="{% url 'movies' %}" class="btn-sm btn btn-primary">Check out</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4 p-0">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Add new Studio</h5>
                    <a href="{% url 'new-studio' %}" class="btn-sm btn btn-primary">Add Studio</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4 p-0">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Browse Studios</h5>
                    <a href="{% url 'studios' %}" class="btn-sm btn btn-primary">Check all</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}