{% extends 'base.html' %}

{% block style %}
    .centered {
    position: absolute;
    top: 78%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    width:100%;
    color: white;
    heighdt:90px;
    }

{% endblock %}

{% block title %}All movies{% endblock %}

{% block body %}
    <div class="row text-center mt-3">
        {% if movies %}
            <div class="row text-center mt-3">

            <h1 style="color: orangered">Browse Movies</h1>
                {% for movie in movies %}
                    <div class="col-sm-4 p-1 pt-4">
                        <div class="card">
                            {% if movie.image %}
                                <img class="border card-img-tp" src="{{ movie.image.url }}"
                                     style="width: 100%; height: 300px; object-fit: cover">
                            {% else %}

                                <img class="border card-img-tp"
                                     src="https://cdn.pixabay.com/photo/2021/01/15/17/01/green-5919790__480.jpg"
                                     style="width: 100%; height: 300px; object-fit: cover">
                            {% endif %}

                            <div class="card-body centered">
                                <a href="{% url 'movie' movie.id %}" style="color: orangered" class=" card-title">{{ movie.title }}</a>
                            </div>

                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <h4>No movies added.</h4>
        {% endif %}
    </div>
{% endblock %}