{% extends 'base.html' %}

{% block title %}Login - TimeBlog{% endblock %}

{% block style %}
    input{
    border:1px solid green;
    padding:1%;
    padding-left:12px;
    font-size:17px
    }
    .errorlist{
    color:red;
    }

    #id_username, #id_password{
    padding: 12px;
    margin-bottom: 22px;
    font-size: 20px;
    border: 1px solid lightgrey;
    background-color:white;
    margin-top: 1%;
    }

{% endblock %}
{% block body %}

    <h2 class="text-center vLargeTextField">Add a new Director in MoviesDuo</h2>
    <hr>
    <div class="mt-4"></div>


    {% if user.is_authenticated %}
        <form method="post" action="#" class="row g-3">
            {% csrf_token %}

            <strong>Valid date of birth is YYYY-MM-DD:</strong>
            {{ form.as_table }}

            <div class="col-12">
                <button type="submit" class="btn btn-primary btn-sm">Add new</button>
            </div>

        </form>
    {% else %}
        <p>You are logged out to your account. If you want to logout of current account, please <a
                href="{% url 'logout' %}">logout here</a>.</p>
    {% endif %}
    <br>
    <br>
    <br>
    <br>
{% endblock %}